@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-primary, hsla(160, 100%, 37%, 1));
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-primary-light, hsla(160, 100%, 37%, 0.2));
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

:root {
  --z-map: 1;
  --z-controls: 30;
  --z-sidebar: 40;
  --z-popup: 999;
}

/* Then use these variables in your components */
.map { z-index: var(--z-map); }
.controls { z-index: var(--z-controls); }
.sidebar { z-index: var(--z-sidebar); }
.popup { z-index: var(--z-popup); }
